*{
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: #242424;
	color: #fff;
}
#header{
	width: 100%;
	height: 100vh;
	background-image: url(images/background.jpg);
	background-size: cover;
	background-position: center;
}
.container{
	padding: 10px 10%;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo{
	height: 70px;
	width: 140px;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after{
	width: 100%;
}

.header-text{
	margin-top: 15%;
	font-size: 30px;
}
.header-text h1{
	font-size: 60px;
	margin-top: 20px;
}
.header-text h1 span{
	color: #ff004f;
}
/*--------ABOUT-----------*/
#about{
	padding: 80px 0;
	color: #ababab;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-col-1{
	flex-basis: 35%;
}
.about-col-1 img{
	width: 100%;
	border-radius: 15px;
}
.about-col-2{
	flex-basis: 60%;
}

.sub-title{
	font-size: 60px;
	font-weight: 600;
	color: #fff;
}

.tab-titles{
	display: flex;
	margin: 20px 0 40px;
}
.tab-links{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}
.tab-links::after{
	content: '';
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links.active-link::after{
	width: 50%;
}
.tab-contents ul li{
	list-style: none;
	margin: 10px 0;
}
.tab-contents ul li span{
	color: #b54769;
	font-size: 14px;
}
.tab-contents{
	display: none;
}
.tab-contents.active-tab{
	display: block;
}

/*--------Services-----------*/
#services{
	padding: 30px 0;
}
.services-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.services-list div{
	background: #343435;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background-color 0.5s, transform 0.5s;
}
.services-list div i{
	font-size: 50px;
	margin-bottom: 30px;
}
.services-list div h2{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}
.services-list div a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}
.services-list div:hover{
	background: #ff004f;
	transform: translateY(-10px);
}

/*--------Portfolio-----------*/
#portfolio{
	padding: 50px 0;
}
.work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.work img{
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}
.layer{
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work:hover img{
	transform: scale(1.1);
}
.work:hover .layer{
	height: 100%;
}
.btn{
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #ff004f;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	transition: background-color 0.5s;
}
.btn:hover{
	background: #ff004f;
}

/*--------Contact-----------*/
.contact-left{
	flex-basis: 35%;
}
.contact-right{
	flex-basis: 60%;
}
.contact-left p{
	margin-top: 30px;
}
.contact-left p i{
	color: #ff004f;
	margin-right: 15px;
	font-size: 25px;
}
.social-icons{
	margin-top: 30px;
}
.social-icons a{
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
}
.social-icons a:hover{
	color: #ff004f;
	transform: translateY(-5px);
}
.btn.btn2{
	display: inline-block;
	background: #ff004f;
}
.contact-right form{
	width: 100%;
}
form input, form textarea{
	width: 100%;
    border: 0;
	outline: none;
	background: #343435;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}
form .btn2{
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}
.copyright{
	width: 100%;
	text-align: center;
	padding: 25px;
	background: #343435;
	font-weight: 300;
	margin-top: 20px;
}
.copyright i{
	color: #F88158;
}
/*---------------css for small screens--------------------------------*/
nav .fas{
	display: none;
}
@media only screen and (max-width: 600px){
	#header{
		background-image: url(images/phone-background.jpg);
	}
	.header-text{
		margin-top: 70%;
		font-size: 16px;
	}
	.header-text h1{
		font-size: 30px;
	}
	nav .fas{
		display: block;
		font-size: 25px;
	}
	nav ul{
		background: #ff004f;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	}
	nav ul li{
		display: block;
		margin: 25px;
	}
	nav ul .fas{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
	nav .fa-bars{
		cursor: pointer;
	}
	.sub-title{
		font-size: 40px;
	}
	.about-col-1, .about-col-2{
		flex-basis: 100%;
	}
	.about-col-1{
		margin-bottom: 30px;
	}
	.about-col-2{
		font-size: 14px;
	}
	.tab-links{
		font-size: 16px;
		margin-right: 20px;
	}
	.contact-left, .contact-right{
		flex-basis: 100%;
	}
	.copyright{
		font-size: 14px;
	}
	.logo{
		height: 50px;
		width: 90px;
	}
}
#msg{
	color: #61b752;
	margin-top: -40px;
	display: block;
}
/*---------------FIRSTRESPONSE--------------------------------*/
.proj1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

.desc {
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    z-index: 10;
}


.gallery {
    width: 1010px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 20px;
    padding: 20px;
    flex: none;
}

.gallery div img {
    width: 40vh;
    height: 50vh;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -60px;
}

#backBtn, #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.back-button img {
    margin-top: 20px;
    margin-left: 30px;
    width: 50px;
	transition: transform 0.5s;
}

.back-button img:hover{
	transform: scale(1.2);
}
.swipe{
	display: none;
}

@media only screen and (max-width: 600px) {
	.proj1 {
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		z-index: 10;
	}
	
	.desc {
		position: absolute;
		top: 80vh; 
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: #333;
		z-index: 10;
	}
    .gallery-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 10px;
        margin: 0 10px;
    }

    .gallery {
        width: 900px;
        display: flex;
        overflow-x: auto;
        justify-content: center;
        align-items: center;
        height: auto;
        max-height: 90vh;
        scroll-behavior: smooth;
        gap: 20px;
    }

    .gallery div img {
        width: 32vh;
        height: 50vh;
		margin: 0 10px;
        filter: grayscale(100%);
        transition: transform 0.5s;
    }

    .gallery div img:hover {
        filter: grayscale(0);
        cursor: pointer;
        transform: scale(1.1);
    }

    .gallery-wrap {
        display: flex;
        align-items: center;
        margin-top: -80px;
    }

    #backBtn, #nextBtn {
        display: none;
    }

    .gallery::-webkit-scrollbar {
        display: none;
    }

    .gallery {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .gallery div img:hover {
        transform: scale(1.1);
        position: relative;
        z-index: 1;
    }

    @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; visibility: hidden; }
    }
	.back-button img {
		margin-top: 25px;
		margin-left: 20px;
		width: 30px;
		transition: transform 0.3s ease-in-out;
    }

    .back-button img:active {
        transform: scale(1.2);
    }
    .swipe {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: rgba(255, 255, 255, 0.25);
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 30px;
        color: #ff004f;
        text-align: center;
        z-index: 2;
        animation: fadeOut 0.5s ease-in-out 2s forwards;
    }
}